@page {
  margin-bottom: 5pt;
  margin-top: 5pt;
}

ul, ol {
  list-style: none;
}

p {
  text-indent: 2em
}

blockquote footer {
  text-align: right;
}

blockquote footer cite {
  font-style: normal;
}

blockquote p {
  line-height: 1.5em;
  margin: 0;
}

ol.leaders {
    max-width: 30em;
    padding: 0;
    overflow-x: hidden;
    list-style: none
}
ol.leaders li {
  line-height: 1.5em;
}
ol.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . ";
}
ol.leaders span:first-child {
    padding-right: 0.33em;
    background: white;
}
ol.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: white;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}