@charset "utf-8";
/* Styles for 大逆转：中国私有化 1978-1989 */
ul {
  padding-left: 0;
  margin-left: 0;
}
ul.level2, ul.level3 {
  padding-left: 0;
  margin-left: 2em;
}

li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}